
/* Navbar things */
html {
    position: relative;
    min-height: 100%;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 50px;
}

body {
  padding-top: 50px;
  margin: 0 0 100px;
}

.nav-login-dropdown {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.nav-login-dropdown img {
    height:40px;
    width:40px;
    margin-right: 5px;
}
.navbar-login {
    min-width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login img {
    height:87px;
    width:87px;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

/* Alert boxes */
.alert {
    margin-bottom: 0px;
}
.alert:last-child {
    margin-bottom: 20px;
}

/* Page Header and Title */

.page-header h1{
    text-align: center;
}


/* Login/Register Page */
.loginRegister .loginRegisterContainer{
    float: none;
    margin: 0 auto;
}
.loginRegister .title {
    text-align: center;
    line-height: 300%;
}
.loginRegister .btnFacebook {
    background: #3b5998;
    color: #eee;
}
.loginRegister .btnFacebook span {
    padding-left:10px;
}
.loginRegister .btnFacebook:hover {
    color: white;
    opacity:0.9; 
}
.loginRegister .loginRegisterOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.loginRegister .hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.loginRegister .spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}
.loginRegister .loginRegisterForm .input-group.i {
    width: 2em;
}

/* Rooms Directory Page */

.roomBlock h3{
    text-align: center;
}

.roomBlock {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.wrappers {
    border-bottom: solid 1px #eee;
    margin-left: 1px;
    margin-right: 1px;
    height:100%;
}

.roomPreview{
    padding-bottom: 10px;
}

.roomPreview img{
    width: 100%;
}

.priceLabel{
    font-size: 2rem;
}

/* Room View Page */
.float-right{
    float: right;
}

.float-left{
    float: left;
}

.room-photo{
    
}

.room-photo img{
    width:100%;
}

.room-content-title{
    text-align: center;
}

/* Booking */
.booking td{
    padding-right: 20px;
}

/* Search Bar Styling */
#searchContainer {
    background-color: #e6e6e6;
    padding: 15px;
}

#searchBarComp {
    width: 50%;
}

/* Misc form properties */
#map{
    width:100%;
    height:350px;
}

.contactForm .input-group{
    padding-bottom: 10px;
}

.inputErrorCls{
    border: 1px solid red !important;
    background-color: #ffe6e6 !important;
}
.formError {
    padding: 6px 12px;
    color: #a94442;
}

.no-padding{
    padding: 0 !important;
}

.selectWidth {
    width: auto;
    float: none !important;
  }
  
  
  /* THE KING OF STICKY FOOTER */
  .featuresDropdown .col-lg-12{
      padding: 0 !important;
  }

  /* PHOTO UPLOAD */
  
#uploadBtn input{
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
#uploadBtn i{
    font-size: 10rem;
    color: white;
    margin-top: 9px;
}

#uploadBtn { 
    display: block;
    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
}

.photoRow{
    margin-bottom: 10px;
}

.photoButtonGroup{
    vertical-align: middle;
}

.photoButtonGroup button{
    width: 100%;
    display:block;
}

#btnPrimaryImage{
    margin-bottom: 10px;
}

/* ============== RESPONSIVE ============== */

@media (max-width: 768px) {
  .float-right {
    float: none;
  }
}

@media (min-width: 768px) {
  .roomBlock {
    height: 570px !important;
  }
}