<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="hotelmaster" />

    <!--
        Datasource connection settings in Spring
    -->
    
    <bean id="springDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
        <property name="url" value="jdbc:mysql://dmdev.ca:3306/themegos_hotel_master" />
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="username" value="themegos_hotel_m" />
        <property name="password" value="A2b8rbd6%rT9" />
        <property name="removeAbandoned" value="true"/>
        <property name="initialSize" value="20" />
        <property name="maxActive" value="30" />
    </bean>
        
    <bean id="accountJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="springDataSource" />
    </bean>
    
    <bean id="accountsDao" class="hotelmaster.account.AccountsDao">
	<property name="accountJdbcTemplate" ref="accountJdbcTemplate" />
    </bean>

     <!--
        Dao class configuration in spring
    -->
     <bean id="HotelDatabaseBean" class="hotelmaster.rooms.Room">
        <property name="dataSource" ref="springDataSource"/>
    </bean>

</beans>